body {
  /* height: 100vh; */
  margin: 0;
  background-color: #f8edeb;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1em;
}

::-webkit-scrollbar {
  width: 0.6em;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d8e2dc;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background: #aeb3b0;
}

html {
  scroll-behavior: smooth;
}

h1,
h2 {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5em;
}

p,
a {
  text-decoration: none;
  color: black;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1em;
}

button {
  height: 2.5em;
  width: 8em;
  border-radius: 1em;
  background: #d8e2dc;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1em;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #d8e2dcb7;
}

button:active {
  background: #d8e2dc;
}

.nav-container {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #f8edeb;
}

nav {
  display: flex;
  position: fixed;
  left: 50%;
  margin-top: 20px;
}

.nav-item-box {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.small-circle {
  height: 1.5em;
  width: auto;
  display: none;
  animation: showCircle ease-out 350ms;
  animation-fill-mode: both;
}

@keyframes showCircle {
  0% {
    height: 0;
    width: 0;
  }
  70% {
    height: 1.9em;
    width: auto;
  }
  90% {
    height: 1.3em;
    width: auto;
  }
  100% {
    height: 1.5em;
    width: auto;
  }
}

.show-display {
  display: block;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-section {
  width: 95%;
  max-width: 1350px;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.big-circle {
  z-index: 1000;
  grid-column: 1;
  grid-row: 1 / span 2;
  height: 30em;
  width: 30em;
  margin-top: 5%;
  margin-left: 5%;
}

h1 {
  z-index: 1000;
  margin-top: 40px;
  grid-column: 1;
  grid-row: 1 / span 2;
  align-self: center;
  justify-self: flex-end;
  animation: fadeIn 1500ms ease-in-out 500ms;
  animation-fill-mode: both;
}

.br {
  display: block;
  padding-top: 0.5em;
}

.main-description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr 1fr;
  align-items: center;
  justify-items: center;
  grid-row: 2;
  grid-column: 2;
  align-self: flex-start;
  justify-self: center;
  width: 70%;
  /* gap: -2em; */
}

@media all and (max-width: 600px) {
  h1 {
    grid-row: 1;
    grid-column: 1 / 3;
    /* max-width: 60%; */
    justify-self: flex-start;
    align-self: flex-start;
    margin-left: 10%;
    margin-top: 10%;
    z-index: auto;
  }

  .home-section {
    /* height: 90%; */
    /* height: 500px; */
    width: 100%;
    margin-top: 80px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .big-circle {
    grid-column: 1;
    grid-row: 1;
    height: 15em;
    width: 15em;
    z-index: auto;
  }

  .main-description {
    grid-column: 1 / span 2;
    grid-row: 2;
  }
}

.small-circle-description {
  height: 1em;
  width: auto;
  justify-self: center;
  align-self: center;
  grid-column: 1 / span 2;
  margin-top: -1em;
  margin-bottom: -1em;
}

.description-text,
.small-wave {
  width: 80%;
  /* grid-column: 2; */
  /* grid-row: 2; */
  align-self: center;
  justify-self: center;
}

.small-wave {
  display: none;
  opacity: 0.7;
  align-self: flex-end;
  height: 40px;
  grid-column: 1 / span 2;
  grid-row: 1;
}

.description-text {
  margin-left: 10%;
  grid-column: 1 / span 2;
  /* animation: fadeIn 1000ms ease-in-out 1.5s;
  animation-fill-mode: both; */
}

.fade1 {
  animation: fadeIn 1000ms ease-in-out 1.5s;
  animation-fill-mode: both;
}
.fade2 {
  animation: fadeIn 1000ms ease-in-out 1750ms;
  animation-fill-mode: both;
}
.fade3 {
  animation: fadeIn 1000ms ease-in-out 2250ms;
  animation-fill-mode: both;
}
.fade4 {
  animation: fadeIn 1000ms ease-in-out 2500ms;
  animation-fill-mode: both;
}
.fade5 {
  animation: fadeIn 1000ms ease-in-out 3000ms;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
}

.main-wave,
.secondary-wave {
  width: 100%;
  /* height: 25%; */
  position: fixed;
  bottom: 0;
  z-index: -999;
}

.main-wave {
  height: 25%;
}

.secondary-wave {
  height: 15%;
}

/* projects */

.projects-section {
  /* max-width: 1350px; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-display {
  /* width: 90%; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  margin-bottom: 100px;
}

.img-placeholder {
  width: 520px;
  border: 2px solid #d8e2dc;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
}

.prj1-preview {
  z-index: -100;
  width: 520px;
  height: auto;
  opacity: 0.8;
  border-radius: 16px 16px 0px 0px;
}

.img-text {
  align-self: flex-end;
  justify-self: center;
  width: 100%;
  background-color: #d8e2dc;
  border-radius: 0 0 0.9em 0.9em;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prj-description-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo-container {
  display: flex;
  justify-content: space-between;
}

.prj-btns {
  display: flex;
  align-items: end;
  justify-content: flex-start;
  gap: 10%;
}

.github-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media all and (max-width: 600px) {
  .project-display {
    flex-direction: column;
    max-width: 90%;
  }

  .img-placeholder {
    width: 80%;
  }

  .prj1-preview {
    align-self: center;
    justify-self: center;
    width: 90%;
    height: auto;
  }

  .img-text {
    width: 90%;
  }

  .logo-container {
    width: 90%;
  }

  .logo {
    height: 30px;
    width: auto;
  }
}

/* about */

.about-section {
  max-width: 1350px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.about-section p {
  width: 70%;
  margin-bottom: 20px;
}

.about-section h2 {
  margin-left: 15%;
  align-self: flex-start;
}

.rising-circle {
  margin-bottom: -30em;
  z-index: -9999;
  height: 30em;
  width: 30em;
  position: fixed;
  bottom: 0;
  right: 10%;
}

.rise {
  animation: riseCircle ease-out 1300ms;
  animation-fill-mode: both;
}

@keyframes riseCircle {
  0% {
    margin-bottom: -30em;
    opacity: 0;
  }
  100% {
    margin-bottom: -5em;
    opacity: 1;
  }
}

.fall {
  animation: fallCircle ease-in-out 1500ms;
  animation-fill-mode: both;
}

@keyframes fallCircle {
  0% {
    margin-bottom: -5em;
    opacity: 1;
  }
  100% {
    margin-bottom: -30em;
    opacity: 0;
  }
}

.contact-section {
  max-width: 1350px;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.contact-text {
  width: 80%;
  grid-column: 1;
  grid-row: 1;
  line-height: 1.5em;
  justify-self: center;
  align-self: center;
}

.cv-btn {
  background: #fec5bb;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

/* ENGLISH DECK */

.project-main {
  margin-top: 100px;
  /* margin-bottom: 100px; */
  /* margin-right: 15%;
  margin-left: 15%; */
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.project-main p {
  margin-right: 15%;
  margin-left: 15%;
}

.project-main h2 {
  margin-left: 15%;
}

#project-title {
  align-self: center;
  margin-left: 0;
}

.screenshot-box {
  width: 100%;
  height: 35em;
  align-self: center;
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 40px;
  margin-top: 5em;
  margin-bottom: 5em;
  background-color: #d8e2dc;
}

.screenshot {
  height: 25em;
  width: auto;
  align-self: center;
  border-radius: 0.5em;
}

.prj-btns-project {
  width: 100%;
  height: 5em;
  margin-bottom: 4em;
  display: flex;
  gap: 4em;
  align-items: center;
  justify-content: center;
}

/* .project-main .main-wave {
  height: 20%;
}

.project-main .secondary-wave {
  height: 12%;
} */

@media all and (max-width: 600px) {
  body {
    font-size: 0.7em;
  }

  .nav-container {
    max-width: 100%;
    /* height: 70px; */
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav {
    max-width: 100%;
    left: auto;
    align-items: center;
    justify-content: center;
  }
}
@media all and (max-width: 600px) {
  .main-wave {
    height: 15%;
  }

  .secondary-wave {
    height: 10%;
  }
}
